@import "../constant/distance.less";
@import "../constant/fonts.less";
@import "../constant/colors.less";

.code {
  font-family: @free-mono;
  padding-left: @xxxl-px;
  background-color: @trifle-grey;
  border: 1px solid @light-grey;
  border-radius: @xs-px;
  white-space: pre-wrap;
}
