@import "../variables/distance.less";
@import "../variables/colors.less";

.section {
  margin: @xxl-px;
  padding: @xl-px @xxl-px;

  ul {
    list-style-type: circle;
    margin-top: @l-px;
    margin-bottom: @l-px;
  }

  @vertical-margin-base: @xxl-px; 

  h1 h2 h3 h4 h5 h6 {
    font-style: oblique;
  }
  
  h1 {
    margin-top: @vertical-margin-base;
    margin-bottom: @vertical-margin-base;
  }
  
  h2 {
    margin-top: @vertical-margin-base - 4;
    margin-bottom: @vertical-margin-base - 4;
  }
  
  h3 {
    margin-top: @vertical-margin-base - 8;
    margin-bottom: @vertical-margin-base - 8;
  }
  
  h4 {
    margin-top: @vertical-margin-base - 10;
    margin-bottom: @vertical-margin-base - 10;
  }
  
  h5 {
    margin-top: @vertical-margin-base - 12;
    margin-bottom: @vertical-margin-base - 12;
  }
  
  h6 {
    margin-top: @vertical-margin-base - 14;
    margin-bottom: @vertical-margin-base - 14;
  }

  &.boxed {
    background-color: @white;
    border-radius: @xs-px;
  }
}
