@import "../constant/distance.less";

@media (max-width: 900px) {
  .left-side-menu {
    display: none;
  }

  .right-side-panel {
    display: none;
  }

  .row .top-menu {
    flex-direction: column;
  }

  .container {
    flex: 0 0 auto;
    padding: @m-px @m-px @m-px @m-px;
  }

  .tabs {
    overflow: auto;
  }
}

@media (min-width: 1600px) {
  .row {
    max-width: 1600px;
    flex-basis: auto;
    flex-grow: 1;
    margin-right: auto;
    margin-left: auto;
  }

  .container {
    scrollbar-width: none;
  }
}
