@import "../variables/distance.less";
@import "../variables/colors.less";

.left-side-menu {
  flex: 0 0 280px;
  padding: 60px 16px;
  background-color: @dirty-white;

  a {
    text-decoration: none;
    color: @dark-grey;
    display: block;
    padding: @s-px @m-px @s-px @xm-px;
    font-size: large;

    &:hover {
      background-color: @light-grey;
      border-radius: @xs-px;
    }
  }
}
