@import "../variables/colors.less";

.top-menu {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: @dark-blue;

  a {
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: @white;
    padding: 14px 16px;
    &:hover {
      background-color: @graphite-grey;
    }
  }
}