@import "../constant/distance.less";
@import "../constant/colors.less";

.top-menu {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: @red;

  &.blue {
    background-color: @deep-blue;
  }

  .to-right {
    margin-left: auto;
  }

  .item {
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: @white;
    padding: @l-px @l-px;

    &:hover {
      background-color: @graphite-grey;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-button {
      border: none;
      cursor: pointer;
    }

    &:hover .dropdown-content {
      display: block;
    }

    .dropdown-content {
      text-align: left;
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      border-bottom-left-radius: @xs-px;
      border-bottom-right-radius: @xs-px;
      background-color: @white;
    
      .dropdown-item {
        cursor: pointer;
        color: @dark-grey;;
        text-decoration: none;
        display: block;
        padding: @l-px @l-px;

        &:hover {
          background-color: @trifle-grey;
          border-radius: @xs-px;
        }
      }
      
      .dropdown-content-divider {
        display: block;
        background-color: @light-grey;
        border: none;
        height: 1px;
        margin: 0.5rem 0;
      }
    }
  }
}
