@con_color: #ffee;
@mg_hl: 330px;
@mg_hr: 12%;
@mg_v: 1.5%;

.container {
  margin-left: @mg_hl;
  margin-right: @mg_hr;
  margin-top: @mg_v;
  margin-bottom: @mg_v;
  top: 10%;
  background-color: @con_color;
  padding: 15px 25px;
  border-radius: 6px;
  color: darkslategray;

  ul {
    list-style-type: circle;
  }

  h3 {
    font-style: oblique;
  }
}
